@import url("https://fonts.googleapis.com/css2?family=Kanit:ital@1&family=Oswald:wght@600&display=swap");
*{  
  width: auto;
  height: 10px;
  user-select: none;
  /* padding-bottom: -600px; */
  /* padding-top: -300px; */
}
  body {
  display: flex;
    justify-content: space-between;
    background-color: #001e2c;
  }
  a{
  text-decoration: none;
}
.logo .mylogo h4 {
    font-family: 'Kanit', sans-serif;
  font-size: 45px;
  font-weight: bold;
  text-align: left;
  font-style: italic;
  text-decoration: none;
  margin-left: 50px;
  color: rgb(46, 201, 64);
  margin-top: 0;
}
nav {
  text-decoration: none;
  display: flex;
}
nav .nav-link {
  text-decoration: none;
  font-size: large;
  color: white;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 25px;
}
.nav-link#lien:hover {
  color: yellow;
}
#datetime {
  cursor: no-drop;
  margin-top: 15px;
  text-align: center;
}

p.under {
  color: red;
  text-align: center;
  font-size: x-small;
  animation: UNDER 0.5s infinite;
}
@keyframes UNDER {
  from {
    color: #002333;
  }
  to {
    color: red;
  }
}
.deuxPointSM {
  color: white;
  text-align: center;
  animation: deuxPointSM 1000ms infinite;
}
@keyframes deuxPointSM {
  from {
    color: #002333;
  }
  to {
    color: white;
  }
}
